body {
    background: linear-gradient(0.25turn, #d9b38c, #f2e6d9, #f9f2e1, #f2e6d9, #d9b38c);
    /*height: 1000px; */
}
.viewer {
    width: 960px;
    height: 486px;
    margin: auto;
    margin-top: 6%;
    display: flex;
    vertical-align: middle;
    box-shadow: 5px 10px 18px #d9b38c;
}
button {
    width: 5%;
    background-color: #f2e6d9;
    border: 1px solid #f2e6d9;
    position: relative;    
}
.icon {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 45%;
    left: 0;
    background: url("http://stayathome-syllabus.greenfox.academy/week03/assets/arrow.svg");
    filter: invert(27%) sepia(90%) saturate(200%) hue-rotate(346deg) brightness(104%) contrast(97%);
    background-repeat: no-repeat;
    background-position: center;
}
button:hover {
    box-shadow: 5px 10px 18px #d9b38c;
    background: #ecd9c6;
    background: linear-gradient(0.25turn, #ecd9c6, #f2e6d9);
    border: 1px solid #ecd9c6;
}
.next {
    transform: scaleX(-1);
}
.photo {
    width: 90%;
    padding: 0;
    background-image: url(photos/csillagjazmin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    width: 50%;
    height: 100px;
    margin: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    /* outline: 1px solid red; */
}
.index {    
    width: 60px;
    height: 60px;
    background-image: url(photos/csillagjazmin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #f9f2ec;
    box-shadow: 0px 10px 10px #d9b38c;
}
.index:hover {
    width: 65px;
    height: 65px;
    border: 3px solid #f9f2ec;
    box-shadow: 0px 10px 5px #d9b38c;
}
.one {
    background-position-x: 70%;
}
.two {
    background-image: url(photos/foetida.jpg);
    background-position-x: center;
}
.three {
    background-image: url(photos/harangvirag.jpg);
    background-position-x: right;
}
.four {
    background-image: url(photos/helleborus2.jpg);
    background-position-x: 70%;
}
.five {
    background-image: url(photos/hepatica.jpg);
    background-position-x: 60%;
}
.six {
    background-image: url(photos/jazmin.jpg);
    background-position-x: 80%;
}
.seven {
    background-image: url(photos/kakukkfu.jpg);
    background-position-x: center;
}
.eight {
    background-image: url(photos/passiflora.jpg);
    background-position-x: 20%;
}
.nine {
    background-image: url(photos/pillango.jpg);
    background-position-x: 40%;
}
.ten {
    background-image: url(photos/rangpur.jpg);
    background-position-x: 40%;
}